/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-EyeCandy .xsmall.bright.light {
  color: white;               /* Header color. Default is white. */
  text-align: left;           /* Align header text. (left, center, right) */
}

.MMM-EyeCandy .photo {
  width: 25%;               /* Size the eyes. Aspect ratio maintained */
}